body {
    background: cover;
}

.heading {
    width: 100%;
    margin: 0px;
    font-size: 25px;
}

#bedroom_a {
    background-color: black;
    color: white;
    width: 25%;
    border-radius: 25px;
    position: absolute;
    left: 570px;
    top: 100px;
}

#hall_a {
    background-color: black;
    color: white;
    width: 25%;
    border-radius: 25px;
    position: absolute;
    left: 570px;
    top: 300px;
}

#kitchen_a {
    background-color: black;
    color: white;
    width: 25%;
    border-radius: 25px;
    position: absolute;
    left: 570px;
    top: 500px;
}