body {
    background-size: cover;
    background-position: center;
}

.heading {
    width: 100%;
    margin: 0px;
    font-size: 25px;
}

a {
    width: 400px;
    font-size: 20px !important;
    border-radius: 30px !important;
    color: white;
    background-color: black;
}